
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_PsychologistLayoutPage.cshtml";
}

<h3>Dr. Mesaj Kazac</h3>

<h4>Licensed Clinical Therapist</h4>
<img id="TherapistProfileImage" src="~/Images/Employees/blank-profile-hi.png" alt="Profile Image" />
<p @*class="profile-description"*@>
    My name is Dr. John Smith, and I am a certified psychoanalyst with a P.H.D. in Psychology.  I specialize in treating individuals affected 
    with PTSD (Post Traumatic Stress Disorder).
</p>
<h4>My Background</h4>
<p>Since I was in high school, my father returned from combat in the 1991 Gulf War, and he was diagnosed with PTSD.
    I did some research on how it happens, and looked for methods on how to treat it.  I performed many methods to treat my father, and he soon got better.
    I feel a great sense of accomplishment and relief knowing that my father is going to be alright, and I wish to do the same thing for everyone with the same problem.
    </p>
<h4>My Education</h4>
    <p> 
        later went to Anonymous Univeristy in City, State where I received a Bachelor's in Psychology, and then attained a Master's, and finally a P.H.D. in the same field of study.
    </p>
<h4>My History</h4>
<p>
    After graduation, I opened my own treatment office in City, State where my patients may come in and seek treatment.  I have been offering my services to my patients for over 20 
    years, and the results have been positive.</p>
<p>My way of treating my patients involves the use of hypnotherapy.  I put my patients in a suggested state, and I learn the the causes of PTSD.
    I give them suggestions on how they can distract themselves from their traumatic experiences.</p>

